header:not(.tweet-header) {
  height: 520px;
  width: 100%;
  padding-top: 150px;
  text-align: center;
  background-color: #d69c28;
  background-image: url('/images/food.png');
}

header h2 {
  font-weight: 300;
  color: #ffffff;
}

header h2 span {
  font-weight: 600;
}

@media only screen and (min-width: 980px) {
  header:not(.tweet-header) {
    width: 30%;
    max-width: 300px;
    float: left;
    height: auto;
    padding: 1rem;
    margin: 200px 2%;
  }

  main {
    width: 60%;
    float: left;
    margin-top: 170px;
  }
}
